.home_bg{
 background-image: url(/Users/lkkatabe/Desktop/portofolio/asset/picture1.jpeg);
    background-color: #010101;
    background-position: 50%;
    background-repeat: none;
    background-size: cover;
}
