.home_bg{
 background-image: url(/Users/lkkatabe/Desktop/portofolio/src/img/picture1.jpeg);
    background-color: #010101;
    background-position: 50%;
    background-repeat: none;
    background-size: cover;
}
li .nav__items{
    font-size: 18px;
    padding-bottom: 15px;
}
.home__content{
    padding: 120px 0px;
}
h1.home_text{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(189, 201, 216, 75)!important;

}
h2.home_text{
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: Montserrat, sans-serif;
}
h3.home_text{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: Montserrat, sans-serif;
}
h4.home_text{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: Montserrat, sans-serif;
}
